<html>
<head>
<title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="css/styleLogin.css" rel="stylesheet" type="text/css"/>


    </head>
<body>
    <div class="loginbox">
    <img src="img/avatar.png" class="avatar">
    <h1>Colegio Steve Jobs</h1>
    <center><h3>Profesor</h3></center>
        <form action="listar.html" method="POST">
            <p>Usuario</p>
            <input type="text" name="usuario" placeholder="Ingresa tu usuario...">
            <p>Password</p>
            <input type="password" name="clave" placeholder="Ingresa la contraseña...">
            <input type="submit" name="Ingresar" value="Ingresar">
        </form>
        
    </div>

</body>

</html>