<!DOCTYPE html>
<html lang="en">
<head>
    <title>IbericaGroup. Consultores | Services</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/layout.css" type="text/css" media="screen">
    <script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/jquery.alphanumeric.pack.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script>
    <script src="js/Open_Sans_400.font.js" type="text/javascript"></script>
    <script src="js/Open_Sans_Light_300.font.js" type="text/javascript"></script>
    <script src="js/Open_Sans_Semibold_600.font.js" type="text/javascript"></script>
    <script src="js/FF-cash.js" type="text/javascript"></script>
    <!--[if lt IE 7]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img
                src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt=""/></a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>
<body id="page3">
<!-- header -->
<div class="bg">
    <div class="main">
        <header>
            <div class="row-1">
                <h1>
                    <a class="logo" href="index.html">Point.co</a><strong class="slog">CAPACITACION, impulso Y
                    productividad corporativa </strong></h1>
                <div class="nameCurso">
                    SCRUM
                </div>      

                <form id="search-form" action="" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="search-form">
                            <input type="text" name="search" value="Type Keyword Here"
                                   onBlur="if(this.value=='') this.value='Type Keyword Here'"
                                   onFocus="if(this.value =='Type Keyword Here' ) this.value=''"/>
                            <a href="#" onClick="document.getElementById('search-form').submit()">Search</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="row-2">
                <nav>
                    <ul class="menu">
                        <li class="last-item"><a href="index.html">Bienvenido</a></li>

                        <li><a href="matricula.html">Matricula en los <br>cursos</a></li>
                        <li><a href="services.html">Cursos</a></li>
                        <li><a href="acceso.html" class="active">Acceso a los cursos</a></li>
                        <li><a href="contacts.html">Sugerencias</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="content">
            <div class="padding">
                <div class="indent">
                    <div class="column1">
                        <a id="0" class="list on"><span>MI CURSO</span></a>
                        <a id="1" class="list"><span>MI CUENTA</span></a>
                        <a id="2" class="list" id="tabVideos"><span>VÍDEOS DEL CURSO</span></a>
                        <div class="tabCursos">
                            <ul>
                                <li><a href="#">Video 1</a></li>
                                <li><a href="#">Video 2</a></li>
                                <li><a href="#">Video 3</a></li>
                                <li><a href="#">Video 4</a></li>
                            </ul>
                        </div>
                        <a id="3" class="list"><span>MIS EVALUACIONES</span></a>
                        <a id="4" class="list"><span>MIS NOTAS</span></a>
                    </div>
                    <div class="column2">
                        <div class="tab tab0 on">
                            <div class="contGen">
                                <h1>BPMN</h1>
                                <a href="#">Silabo del Curso</a>
                                
                                <div class="sepTab">
                                <table border="0" cellpadding="0" cellspacing="0" class="tableOne">
                                        <tr>
                                            <td colspan="2" class="head">Datos del Curso</td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Nota mínima aprobatoria del curso</td>
                                            <td>14</td>
                                        </tr>
                                        <tr>
                                            <td>Cantidad de videos</td>
                                            <td>12</td>
                                        </tr>
                                        <tr>
                                            <td>Máximo número de evaluaciones por video</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td>Tiempo mínimo entre evaluaciones</td>
                                            <td>15dias</td>
                                        </tr>
                                        <tr>
                                            <td>Tiempo de cada examen</td>
                                            <td>30minutos</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="videoData-1">
                                    <div class="titleVideo">
                                        <b>Video 1:</b> Fundamentos de UML  (3 veces visto)
                                    </div>
                                    <div class="descrip">
                                        <b>Descripción:</b><br><br>
                                        En este video se muestran los fundamentos del lenguaje de modelamiento unificado, que son la base sobre la cual se construyen todo este lenguaje asimismo se describe el paradigma de programación orientado a objetos.
                                    </div>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="head">Fecha en la que ha sido visto el curso</td>
                                            <td class="head">Hora en la que ha sido visto el curso</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="videoData-2">
                                    <div class="titleVideo">
                                        <b>Video 2:</b> Diagramas de Casos de Uso (2 veces visto)
                                    </div>
                                    <div class="descrip">
                                        <b>Descripción:</b><br><br>
                                        En este video se muestran los fundamentos del lenguaje de modelamiento unificado, que son la base sobre la cual se construyen todo este lenguaje asimismo se describe el paradigma de programación orientado a objetos.
                                    </div>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="head">Fecha</td>
                                            <td class="head">Hora</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab tab1">
                            <div class="txtCuenta">Estos son los datos con los cuales esta registrado en la plataforma de enseñanza, si no son los 
correctos porfavor actualizelos porque con estos datos apareceran su certificado de cada curso 
llevado en la plataforma de elearning www.puertosaber.com</div>
                            <div class="contForm">
                                
                                <h1>MI CUENTA</h1>
                                <form id="formCuenta">
                                    <div class="formAcceso">
                                        <div class="lineRow">
                                            <span>Cod.Usuario</span>
                                            <input type="text" id="txtCod" readonly value="AAA01" class="Thumb" name="txtCod" maxlength="20"/>
                                        </div>
                                        <div class="lineRow">
                                            <span>A.Paterno</span>
                                            <input type="text" id="txtApPat" name="txtApPat" maxlength="100"/>
                                        </div>
                                        <div class="lineRow">
                                            <span>A.Materno</span>
                                            <input type="text" id="txtApMat" name="txtApMat" maxlength="100"/>
                                        </div>
                                        <div class="lineRow">
                                            <span>Nombres</span>
                                            <input type="text" id="txtName" name="txtName" maxlength="140"/>
                                        </div>
                                        <div class="lineRow">
                                            <span>Direccion</span>
                                            <input type="text" id="txtAdress" name="txtAdress" maxlength="400"/>
                                        </div>
                                        <div class="lineRow">
                                            <span>D.N.I.</span>
                                            <input type="text" id="txtDni" class="Thumb" name="txtDni" maxlength="8"/>
                                        </div>
                                        <div class="lineRow">
                                            <div class="form-errors"></div>
                                        </div>
                                        <div class="lineRow">
                                            <a class="btnLimpiar">Limpiar</a>
                                            <a class="btnAceptar2">Actualizar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab tab2">
                             <div class="contGen">

                                 <div class="titVideo"><b>SCRUM </b>-> Vídeo 1</div>
                                 <div class="contVideo">
                                     <div class="co1">Vídeo</div>
                                     <div class="co2">
                                          <div class="video">
                                              <iframe width="420" height="315" src="//www.youtube.com/embed/D8vT7G0WATM" frameborder="0" allowfullscreen></iframe>
                                          </div>
                                     </div>
                                 </div>
                                 <div class="contVideo">
                                     <div class="co1">Descripción</div>
                                     <div class="co2">
                                         <div class="detalleVideo">
                                             Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.
                                         </div>
                                         <div class="lineRow">
                                             <a class="btnAceptar3">Siguiente</a>
                                             <a class="btnAceptar3">Anterior</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="tab tab3">
                            <div id="preguntas">
                                <div class="txtCuenta">Estas son las evaluaciones de cada video perteneciente al curso, se recomienda que
                                    visualice cada video del curso de dos a tres veces antes de que sea avaluado asimismo
                                    observe, el numero de veces como maximo que puede rendir una evaluacion de cada video, el
                                    puntaje minimo para acceder a un certificado y la cantidad minima de dias que tiene para
                                    volver a ser evaluado en algun video del curso</div>
                                <div class="contGen2">

                                    <div class="rowEv">

                                        <select name="" class="titEv cboEle" id="">
                                            <option value="">Vídeo 1</option>
                                            <option value="">Vídeo 2</option>
                                            <option value="">Vídeo 3</option>
                                            <option value="">Vídeo 4</option>
                                        </select>
                                        <span class="titEv">Seleccione el video en el cual usted ha decidido ser avaluado:</span>
                                    </div>
                                    <div class="rowEv">
                                        <a class="btnIniciarExa">Iniciar examen</a>
                                        <div class="timeExa">Tiempo de la Prueba: <b>30:00</b></div>
                                    </div>
                                    <div class="rowEv sep1 borPreg">
                                        <div class="numPreg">Pregunta 1 de 10</div>
                                        1. Pregunta1 : Diga ¿Cuál es el significado de?
                                        <ul id="question">
                                            <li><input id="op1" name="question" type="radio"/><label for="op1">Opción 1</label></li>
                                            <li><input id="op2" name="question" type="radio"/><label for="op2">Opción 2</label></li>
                                            <li><input id="op3" name="question" type="radio"/><label for="op3">Opción 3</label></li>
                                            <li><input id="op4" name="question" type="radio"/><label for="op4">Opción 4</label></li>
                                            <li><input id="op5" name="question" type="radio"/><label for="op5">Opción 5</label></li>
                                            <li><div class="check"><input type="checkbox" id="checkFin"/><label class="lblCheck" for="checkFin">Marque esta opcion para cada pregunta que desea que sea revisada al final de haber recorrido todas
                                                las pregunta del examen, si no marca esta opcion en cada pregunta el sistema asume que usted ya
                                                resolvio esta pregunta y no volvera a aparecer</label></div></li>
                                        </ul>
                                        <div class="lineRow sep2">
                                            <a class="btnSguiente">Anterior</a>
                                            <a class="btnSguiente" id="btnPreguntaSiguiente">Siguiente</a>
                                        </div>
                                    </div>
                                    <div class="rowEv">
                                        Usted solo tiene 5 intentos para este curso.
                                    </div>
                                </div>
                            </div>
                            <div id="final">
                                <div class="contGen">
                                    <div class="puntajeFin">
                                        <div class="txtNumPun">
                                            En esta avaluacion su nota obtenida
                                            ha sido 15 de 20
                                        </div>
                                        <!--<div class="txtNumPun">
                                            ¿Desea enviar para corregir?
                                        </div>
                                        <div class="lineRow">
                                            <a class="btnNo">No</a>
                                            <a class="btnSi">Si</a>
                                        </div>-->
                                        <div class="lineRow">
                                            <div class="footPun">Intento 1/3<br>Su próxima intento podrá ser en 15 días</div>
                                        </div>
                                    </div>
                                    <div class="lineRow">
                                        <div class="footPun sep3">Si es SI, notas y relación del alumno</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab tab4">
                            <div class="contGen">
                                <h1>BPMN</h1>

                                <div class="videoData-1">
                                    <div class="titleVideo">
                                        <b>Video 1:</b> Fundamentos de UML  (3 veces visto)
                                    </div>
                                    <div class="descrip">
                                        <b>Descripción:</b><br><br>
                                        En este video se muestran los fundamentos del lenguaje de modelamiento unificado, que son la base sobre la cual se construyen todo este lenguaje asimismo se describe el paradigma de programación orientado a objetos.
                                    </div>
                                    <table border="0" cellpadding="0" cellspacing="0" class="tableOne">
                                        <tr>
                                            <td class="head">Fecha de Evaluación</td>
                                            <td class="head">Hora de Evaluación</td>
                                            <td class="head">Nota Obtenida</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                            <td>15</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                            <td>18</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                            <td>20</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="videoData-2">
                                    <div class="titleVideo">
                                        <b>Video 2:</b> Diagramas de Casos de Uso (4 Evaluaciones)
                                    </div>
                                    <div class="descrip">
                                        <b>Descripción:</b><br><br>
                                        En este video se muestran los fundamentos del lenguaje de modelamiento unificado, que son la base sobre la cual se construyen todo este lenguaje asimismo se describe el paradigma de programación orientado a objetos.
                                    </div>
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="head">Fecha</td>
                                            <td class="head">Hora</td>
                                            <td class="head">Nota</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                            <td>15</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                            <td>18</td>
                                        </tr>
                                        <tr>
                                            <td>12/10/2014</td>
                                            <td>6:45pm</td>
                                            <td>20</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer -->
        <footer>
            <div class="row-top">
                <div class="row-padding">
                    <div class="wrapper">
                        <div class="col-1">
                            <h4>Casa Matriz :</h4>
                            <dl class="address">
                                <dt><span>Pais:</span>PERÙ</dt>
                                <dd><span>Ciudad:</span>LIMA</dd>
                                <dd><span>Email:</span><a href="#">info@puertosaber.com</a></dd>
                            </dl>
                        </div>
                        <div class="col-2">
                            <h4>Siguenos :</h4>
                            <ul class="list-services">
                                <li class="item-1"><a href="#">Facebook</a></li>
                                <li class="item-2"><a href="#">Twitter</a></li>
                                <li class="item-3"><a href="#">LinkedIn</a></li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h4>&nbsp;</h4>
                            <ul class="list-1">
                                <li></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <div class="indent3"><strong class="footer-logo">IG.<strong>c</strong></strong> <strong
                                    class="phone"><strong>Central: </strong>+51 - 4294003</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-bot">
                <div class="aligncenter">
                    <p class="p0"><a rel="nofollow" href="http://www.puertosaber.com/" target="_blank">bericaGroup.
                        Consultores</a><br>
                        <!-- {%FOOTER_LINK} -->
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>