<!DOCTYPE html>
<html lang="en">
<head>
<title>IbericaGroup. Consultores | Contacts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen">
<script type="text/javascript" src="js/jquery-1.6.min.js"></script>
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/cufon-replace.js" type="text/javascript"></script>
<script src="js/Open_Sans_400.font.js" type="text/javascript"></script>
<script src="js/Open_Sans_Light_300.font.js" type="text/javascript"></script> 
<script src="js/Open_Sans_Semibold_600.font.js" type="text/javascript"></script> 
<script src="js/FF-cash.js" type="text/javascript"></script>  
<!--[if lt IE 7]>
	<div style=' clear: both; text-align:center; position: relative;'>
		<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0"  alt="" /></a>
	</div>
<![endif]-->
<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body id="page5">
<!-- header -->
	<div class="bg">
		<div class="main">
			<header>
				<div class="row-1">
					<h1>
						<a class="logo" href="index.html">Point.co</a><strong class="slog">CAPACITACION, impulso Y productividad corporativa </strong></h1>
					<form id="search-form" method="post" enctype="multipart/form-data">
						<fieldset>
							<div class="search-form">					
								<input type="text" name="search" value="Type Keyword Here" onBlur="if(this.value=='') this.value='Type Keyword Here'" onFocus="if(this.value =='Type Keyword Here' ) this.value=''" />
								<a href="#" onClick="document.getElementById('search-form').submit()">Search</a>									
							</div>
						</fieldset>
					</form>
			  </div>
				<div class="row-2">
					<nav>
						<ul class="menu">
						  <li><a href="index.html">Bienvenido</a></li>
						  <li><a href=""></a></li>
                          <li><a href="services.html">Cursos</a></li>
						  <li><a href=""></a></li>
						  <li class="last-item"><a class="active" href="contacts.html">Sugerencias</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<section id="content">
				<div class="padding">
					<div class="wrapper margin-bot">
						<div class="col-3">
							<div class="indent">
								<h2 class="p0">Videos</h2>
								<div class="lista-video">
                
                <div class="vimeo">
                <iframe src="//player.vimeo.com/video/92887820" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/92887820">Video5</a> from <a href="http://vimeo.com/user19234212">Jose Calvay</a> on <a href="https://vimeo.com">Vimeo</a>.</p> 
                </div>
                <div style="clear:both"></div>
                
                <div class="vimeo">
                <iframe src="//player.vimeo.com/video/92886253" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/92886253">Video4</a> from <a href="http://vimeo.com/user19234212">Jose Calvay</a> on <a href="https://vimeo.com">Vimeo</a>.</p> 
                </div>
                <div style="clear:both"></div>
                
                <div class="vimeo">
                <iframe src="//player.vimeo.com/video/92884834" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/92884834">Video3</a> from <a href="http://vimeo.com/user19234212">Jose Calvay</a> on <a href="https://vimeo.com">Vimeo</a>.</p> 
                </div>
                <div style="clear:both"></div>
                
                <div class="vimeo">
                <iframe src="//player.vimeo.com/video/92884359" width="500" height="313" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/92884359">Video2</a> from <a href="http://vimeo.com/user19234212">Jose Calvay</a> on <a href="https://vimeo.com">Vimeo</a>.</p> 
                </div>
                <div style="clear:both"></div>
                
                <div class="vimeo">
                <iframe src="//player.vimeo.com/video/92874740" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/92874740">video1</a> from <a href="http://vimeo.com/user19234212">Jose Calvay</a> on <a href="https://vimeo.com">Vimeo</a>.</p> 
                </div>
                <div style="clear:both"></div>                
         
                </div>
							</div>
							
						</div>
						<div class="col-4">
							<div class="block-news">
								<h3 class="color-4 indent-bot2">Contacto</h3>
								<dl class="contact p3">
									<dt><span>Ciudad:</span>PERÚ, Lima </dt>
									<dd><span>Telefono:</span>+51 4294003 </dd>
									<dd><span>E-mail:</span><a href="#">info@puertosaber.com</a></dd>
								</dl>
								<h3 class="color-4 indent-bot2">Miscellaneous</h3>
								<p class="text-1">Lorem ipsum dolor sit amet, consectetur adipi<br>scing elit. Mauris quis consectetur nulla. Suspendisse tellus enim, molestie congue male<br>suada sed.</p>
							</div>
						</div>
					</div>
			  </div>
			</section>
<!-- footer -->
			<footer>
				<div class="row-top">
					<div class="row-padding">
					  <div class="wrapper">
							<div class="col-1">
								<h4>Casa Matriz :</h4>
								<dl class="address">
									<dt><span>Pais:</span>PERÙ</dt>
									<dd><span>Ciudad:</span>LIMA</dd>
									<dd><span>Email</span><a href="#">linfo@puertosaber.com</a></dd>
								</dl>
							</div>
							<div class="col-2">
								<h4>Siguenos :</h4>
								<ul class="list-services">
									<li class="item-1"><a href="#">Facebook</a></li>
									<li class="item-2"><a href="#">Twitter</a></li>
									<li class="item-3"><a href="#">LinkedIn</a></li>
								</ul>
							</div>
							<div class="col-3">
								<h4>&nbsp;</h4>
								<ul class="list-1">
								    <li></li>
								</ul>
						</div>
					        <div class="col-4">
                              <div class="indent3"> <strong class="footer-logo">IG.<strong>c</strong></strong> <strong class="phone"><strong>Central: </strong>+51 - 4294003</strong> </div>
			            </div>
					  </div>
					</div>
				</div>
				<div class="row-bot">
					<div class="aligncenter">
						<p class="p0"><a rel="nofollow" href="http://www.puertosaber.com/" target="_blank">bericaGroup. Consultores</a></p>
						<br>
						<!-- {%FOOTER_LINK} -->
				  </div>
				</div>
			</footer>
		</div>
	</div>
	<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
