<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<p align="center"><strong>FRASES</strong></p>
<ul>
  <li>Lo grandioso de descubrir mi responsabilidad, es empezar a descubrir mi libertad, mi posibilidad de cambio.</li>
  <li> Somos esclavos porque tenemos una falsa idea de libertad. Y cual es esta: &quot;Que ser libres es hacer lo que se me de la gana&quot; F.N. </li>
  <li>&iexcl;Ay de aquellos que llaman bien al mal y llaman mal al bien !. Is.</li>
  <li>Abunda en nuestro tiempo una falsa idea de libertad, seg&uacute;n la cual, la libertad consiste en hacer lo que venga en gana. esta idea es falsa porque simplemente nos hace esclavos de quienes saben c&oacute;mo manejar las &quot;ganas&quot; es decir, nuestros deseos.......F.Nelson</li>
  <li>Setiembre, mes de la biblia</li>
  <li>No hay santo que no lo veamos con su rosario en la mano, sin Mar&iacute;a no hay santidad.</li>
  <li>Mirar es ver con atenci&oacute;n, contemplar es mirar captando el misterio.</li>
  <li>Tu traes algo nuevo al mundo, &uacute;nico totalmente.</li>
  <li>Tomarnos tiempo para captar el misterio, el misterio que nos rodea...</li>
  <li>- Se habla mucho de obediencia en la vida cristiana.&iquest;A qu&eacute; hay que obedecer y por qu&eacute;?<br />
  - Obedecer es, en primer lugar, estar a la escucha, escuchar y responder. La obediencia es un di&aacute;logo.</li>
  <li>Una cosa dicen los libros, m&aacute;s no ense&ntilde;an igualmente a todos</li>
  <li>Cualquier cosa, por peque&ntilde;a que sea, si se ama o desea desordenadamente, nos estorba para gozar del sumo bien y nos da&ntilde;a</li>
  <li>&ldquo;Lo bueno nunca es f&aacute;cil, lo f&aacute;cil nunca es bueno&quot;</li>
  <li>El amanecer solo llega despu&eacute;s de que la noche haya pasado.<br />
  Todo tiene su momento justo.</li>
  <li>Pas&oacute; por fin este hermoso d&iacute;a, como pasan los m&aacute;s tristes, pues hasta los d&iacute;as m&aacute;s radiantes tienen un ma&ntilde;ana.</li>
  <li>Porque as&iacute; como no podemos hacer que amanezca, tampoco podemos podemos hacer que deje de anochecer................S.Teresa</li>
  <li>Que es mejor: &iquest;Salvar almas o formar almas?</li>
  <li>&quot;Cada hombre es lo que hace, con lo que hicieron de &eacute;l&quot;<br />
  J.P.S.</li>
  <li>&quot;Nunca leas cosas para mostrarte m&aacute;s letrado o sabio. Estudia en mortificar los vicios; porque m&aacute;s te aprovecha esto que saber muchas cuestiones dificultosas....&quot;<br />
  Auchh..! , eso doli&oacute;..</li>
  <li>Un dia, una de las profesoras de la Abadia me pregunto que hacia los dias libres cuando estaba sola. Yo le contested que me metia en un espacio vacio que habia detras de mi cama y que podia cerrar facilmente con la cortina, y que alli &quot;pensaba&quot;. Y en que piensas?, me dijo. - Pienso, en Dios, en la vida..., en la eternidad, bueno Pienso.... S.T.<br />
  Que increible mujer&nbsp;&#55357;&#56898;</li>
  <li>Cristo le revela el hombre al hombre mismo<br />
    Yo pienso que una persona que ve voluntariamente mas de una de hora de televisi&oacute;n, es una persona que se esta llenando de basura la cabeza<br />
    Incluso en algunos documentos del papa, no hay verdadera claridad<br />
    Obispo de filadeldia: No se puede decir que hay claridad en la iglesia, cuando en una di&oacute;cesis se apoyan en un documento del papa para ense&ntilde;ar una cosa y en otra del mismo para ense&ntilde;ar lo contario.<br />
    El amor de benvolencia, buscar el bien del otro<br />
    Los idolos se alimentan de nosotros.<br />
    <br />
  Aprender a usar las cosas, sin que las cosas se adue&ntilde;en de mi.</li>
  <li></li>
</ul>
</body>
</html>
