
<ol>
  <li>Document Ready<br />
      <img src="images/ajax1.png" width="750" height="150" /><br />
        <img src="images/ajax2.png" width="731" height="148" /><br />
  </li>
  <li>Selecci&oacute;n de elementos<br />
      <img src="images/ajax3.png" width="733" height="362" /><br />
  </li>
  <li>CSS, estilos y dimensiones<br>
      <img src="images/ajax31.png" width="762" height="364"><br>
  </li>
  <li>Utilizando clases para aplicar estilos<br>
    <img src="images/ajax4.png" width="756" height="265"></li>
  <li>Establecer atributos<br>
      <img src="images/ajax5.png" width="720" height="226"><br>
  </li>
  <li>Recorrer el DOM<br>
      <img src="images/ajax61.png" width="756" height="456"><br>
        <img src="images/ajax62.png" width="791" height="248"><br>
  </li>
  <li>Manipulaci&oacute;n de elementos<br>
    <img src="images/ajax71.png" width="775" height="142"><br>
    <img src="images/ajax72.png" width="786" height="285"><br>
      <img src="images/ajax73.png" width="787" height="252"><br>
  </li>
</ol>
