html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,  blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
 caption, tbody, tfoot, thead, th {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: Arial, Helvetica, sans-serif;
	color:#333; font-size:12px;

}
body   {background:#fff; text-align:center; text-align:left; }

p, span {font-size:12px; font-family: Arial, Helvetica, sans-serif;
         color:#333; margin: 0;padding: 0; font-weight:normal;}
:focus {outline: 0;}
span a{text-decoration:none;}

ol, ul {	list-style: none;}
table {
	border-collapse:collapse;
	border-spacing: 0; margin:auto; float:left;
}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* .container{width:100%;margin:0px auto 0px auto;float:auto;background-color:#fff;border: 1px solid #000;}
 .container h1{height:30px;padding:6px 0px 6px 6px;text-align: center;font-size: 25px;font-family:"Times New Roman","Times","serif";border-bottom:1px solid #CCCCCC;}
 .container table{width:100%;background-color:#fff;border-spacing:2px;;border-collapse: separate;}
 .container table td{text-align: right;padding: 5px;}
 .container table td.formss{text-align:left;}*/


/*--------------Login-------------------*/
.contenido{width: 95%;margin:0 auto;background-color: #fff;}
.header{float:left;width: 100%;border-bottom:1px solid #D6D6D6;}
.header img{padding: 15px 0;float: left;}
.header h2{float:left;font-size: 12px;padding-top: 12px;padding-left: 3px;}
.header h3{float: right;font-size: 12px;padding-top: 12px;padding-right: 3px;text-decoration: none;}
.zonelogin{float: left;width: 100%;border-bottom:1px solid #D6D6D6;padding: 55px 0;}
.frmlogin{width: 507px;margin:0 auto;}
.frmlog{float: left;width: 232px;padding-left:150px;padding-top: 25px;}
.frmcamp{padding:5px;}
.frmcamp span{float: left;margin-right:5px;text-align:right;width: 70px;margin-bottom: 15px;}


.frmboton{float:left;padding-top:5px;width:100%;padding-left: 40px;}
.frmboton h2 a,.frmboton h2{font-size: 12px;text-align: center;text-decoration: none;padding-bottom: 5px;}
.frmboton_login{margin: 0 auto;width: 158px;}
.frmboton_matricula{margin: 0 auto;width: 300px;}
.footer{float: left;width:100%;padding-top: 5px;}
.footer h2{font-size: 11px;float: left;}

/*--------------Principal-------------------*/
.zonebody{border-bottom: 1px solid #D6D6D6;float:left;width:100%;}
.zonebody ul.nav{float: left;background-color:#EB1C24;width: 98%;padding: 0 15px;}
.zonebody ul.nav li{float: left;}
.zonebody ul.nav li a{float: left;color: #fff;padding: 5px 16px;text-decoration: none;}
.zonebody ul.nav li a:hover{background-color: #9C0E15}
.zonebody ul.nav ul { display:none;}
.zonebody ul.body_section{ float:left; padding-top:20px; margin-bottom:25px;}
.zonebody ul.body_section li{ float:left; width:306px; padding-left:20px; border-right:1px solid #D6D6D6	;}
.patbotom{ padding-bottom:40px;}

/*--------------Lista de items-------------------*/
.titulotabla{border-bottom: 1px solid #ccc;float: left;padding: 15px 0;width: 100%;margin-bottom: 10px;}
.titulotabla span{float: left;margin-left: 30px;text-decoration: none;margin-top: -14px;}
.titulotabla span a {text-decoration: none;}
.titulotabla ul{padding-left: 120px;padding-top: 20px;}
.titulotabla ul li{float: left;margin-right: 26px;}
.titulotabla h1{font-size: 40px;text-align: center;font-family:"Times New Roman","Times","serif";}
.listartabla{ width:700px; margin:0px auto;} 
.listartabla table { width:700px; border-color:#EDEDED; }
.listartabla tr.list1 td { background-color:#D9E8FB; text-align:center; padding:3px 0;}
.listartabla tr.list1 td a{ color:#069;}
.listartabla tr.list_a td{text-align:center; padding:8px 0;} 
.listartabla tr.list_b td{text-align:center; padding:8px 0; background-color:#F4F7FF} 
.mensajetabla{ width:700px; background-color:#D5E2F2; color:#F00; text-align:center; padding:4px 0; float:left;}

/*-------------- Editar item-------------------*/
.contenidotabla{float: auto;background-color: #fff;margin:0px auto 0px auto;width:100%;}
.contenidotabla h1{height:30px;padding:6px 0px 6px 6px;text-align: center;font-size: 25px;font-family:"Times New Roman","Times","serif";border-bottom:1px solid #CCCCCC;}
.contenidotabla table{width:100%;background-color:#fff;border-spacing:2px;;border-collapse: separate;}
.contenidotabla table td{text-align: right;padding: 5px;}
.contenidotabla table td.formss{text-align:left;}
.cajatitle{ float:left; width:181px;}
.cajatitle h2{ color:#F81A27; font-weight:bold; padding:2px 0;	}
.cajatitle h3{ font-size:11px;}
.cajatitle a{ padding-top:7px; float:left; text-decoration:underline;	}
.cajatitle a:hover{ color:#CB121C}
.caja_contenidos{ float:left; width:280px; padding-bottom:25px;}
.caja_contenidos img{ float:left; margin-right:15px;}

/*-------------- Contenido Mensaje -------------------*/
.cuerpomensaje{
    background-color:#ececec;
    border:solid #ccc;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
    -webkit-border-radius:5px;-moz-border-radius:10px;
    border-radius:10px;
    border-width: 2px 0;
    padding: 100px 150px;
    margin: 70px 190px;
    text-align: center;
    float: left;
}
.curbottom{ height:380px;}
.botones{background: #ccc; 
    background: -webkit-linear-gradient(top,#fc6,#f63);
    background: linear-gradient(top,#fc6,#f63);
    color: #666;
    width: 120px;
}
p#bot{padding-bottom: 5px;}
.botones{margin:0;background-color:#EB1C24;border: none;font-size: 11px;color: #FFF;padding: 3px 18px;cursor: pointer;width:76px !important; }

/*-------------- ------------------*/
.cajaMinima{background-color:#fff;font:8pt helvetica;
           color:#000;width:80px;border-color:#696969;border-style:solid;border-width:1px;height:17px;
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px;
}
.cajaMedia{
    background-color:#fff;font:8pt helvetica;color:#000;width:130px;border-color:#696969;
    border-style:solid;border-width:1px;
    height:17px;
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px;
}
.cajaGrande{background-color:#fff;font:8pt helvetica;color:#000;width:180px;border-color:#696969;border-style:solid;border-width:1px;
height:17px;
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; 
}

.comboMedio{background-color:#fff;font:8pt helvetica;color:#000;width:130px;
           border-color:#696969;border-style:solid;border-width:1px;height:15pt;
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; 
}
.comboGrande{background-color:#fff;font:8pt helvetica;color:#000;width:180px;border-color:#696969;border-style:solid;
            border-width:1px;height:15pt;
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; 
}
.comboMinimo{background-color:#fff;font:8pt helvetica;color:#000;width:80px;border-color:#696969;
            border-style:solid;border-width:1px;height:15pt;
    border-radius:5px;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8);line-height: 20px; 
}


.minus{text-transform:none;}
.textareaGrande {font:8pt helvetica;color:#000;}


.aceptarlog2{ background-color:#EB1C24; color:#FFF; border:none; font-size:11px;
padding:3px 18px; cursor:pointer;}
.aceptarlog2:hover{ background-color:#F00;}





#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:400px; width:900px; color:#bbb; background-color:#333; border:4px solid #000; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}